@import "../../helpers/helpers.scss";

.banner{
    // width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    .loader_img{
        top: 50%;
        left: 50%;
        z-index: 26;
        width: 100vw;
        height: 100vh;
        position: absolute;
        transition: all 2s;
        transform: translate(-50%,-50%) scale(1);
    }
   
    .banner_img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .banner_info{
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        .banner_title{
            // top: 50%;
            // left: var(--container_left_space);
            // position: absolute;
            // transform: translateY(-50%);
            opacity: 0;
            color: var(--color_white);
            margin-left: -200px;
            transition: all 3s;
            margin-top: 40vh;
            @media (max-width: 767px) {
                padding: 20px;
                margin-left: var(--container_left_space);
                
            }
            h1{
                display: flex;
                flex-wrap: wrap;
                @media (max-width: 767px) {
                    text-align: center;
                    font-size: 26px;
                    line-height: 35px;
                }
                .span1{
                    width: 710px;
                    @media (max-width: 1199px) {
                        width: 520px;
                    }
                    @media (max-width: 991px) {
                        width: 465px;
                    }
                }
                .banner_animaction{
                    width: 400px;
                    @media (max-width: 991px) {
                        width: 250px;
                    }
                    @media (max-width: 767px) {
                        width: 100%;
                    }
                    .span{
                        overflow: hidden;
                    }
                    @media (max-width: 767px) {
                        margin-top: 10px;
                    }
                }
                .span2{
                    width: 100%;
                }
            }
        }
    }
    .counter_section_mobile{
        bottom: 0;
        width: 100%;
        padding: 30px;
        overflow: hidden;
        position: absolute;
        background-color: #ffffff05;
        backdrop-filter: blur(12px);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border: 0.5px solid #56605b3d;
        h2{
            span{
                color: var(--color_primary);
            }
            .span1{
                font-size: 20px;
                color: var(--color_white);
            }
        }
    }
    .counter_section{
        display: flex;
        flex-wrap: wrap;
        opacity: 0;
        bottom: -100px;
        transition: all 2.5s;
        position: absolute;
        width: 85%;
        margin: auto;
        left: 50%;
        padding: 25px 35px;
        transform: translateX(-50%);
        background-color: #ffffff05;
        backdrop-filter: blur(12px);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border: 0.5px solid #56605b3d;
        @media (max-width: 1199px) {
            width: 95%;
            padding: 25px 20px;
        }
        @media (max-width: 991px) {
            width: 98%;
        }
        .counter_box{
            width: 25%;
            padding: 0 15px;
            border-right: 1px solid #A8CA9A;
            &:last-child{
                border-right: 0;
            }
            h2{
                span{
                    color: var(--color_primary);
                }
                .span1{
                    font-size: 20px;
                    color: var(--color_white);
                }
            }
        }
    }
    &.banner_animation_onload{
        .loader_img{
            z-index: 1;
            opacity: 1;
            transform: translate(-50%,-50%) scale(15);
        }
        .banner_title{
            opacity: 1;
            margin-left: var(--container_left_space);
        }
        .counter_section{
            bottom: 0;
            opacity: 1;
        }
    }
}
