@import "../../helpers/helpers.scss";

.comit{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../../../public/img/home/comit_bg.jpg);
    .business{
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        position: relative;
        .dots{
            top: 50%;
            left: -80px;
            position: absolute;
            transform: translateY(-50%);
        }
        .box{
            width: 40%;
            &:last-child{
                width: 60%;
                padding-left: 40px;
                padding-top: 10px;
            }
           .btn_section{
            p{
                padding-top: 30px;
                a{
                    padding-bottom: 5px;
                    border-bottom: 1px solid var(--color_white);
                }
            }
           }
        }
    }
}