@import "../../helpers/helpers.scss";

.business_section{
    background-color: var(--color_primary);
    .business{
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        @media (max-width: 767px) {
            flex-wrap: wrap;
            height: auto;
            padding-top: 40px;
            min-height: auto;
        }
        .dots{
            top: 50%;
            left: -80px;
            position: absolute;
            transform: translateY(-50%);
        }
        .box{
            width: 40%;
            @media (max-width: 767px) {
                width: 100%;
            }
            &:last-child{
                width: 60%;
                padding-left: 40px;
                padding-top: 10px;
                @media (max-width: 767px) {
                    width: 100%;
                    padding-left: 0;
                }
            }
            h4{
                color: #313133;
                @media (max-width: 767px) {
                    padding-bottom: 10px;
                }
            }
            ul{
                padding-left: 30px;
                li{
                    list-style: none;
                    position: relative;
                    margin-bottom: 15px;
                    .li_img{
                        top: 50%;
                        left: -30px;
                        position: absolute;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}