@import "../../helpers/helpers.scss";

.who_we_are{
    .main_popup{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        display: none;
        position: fixed;
        background-color: #0000006e;
        .popup_section{
            top: 50%;
            left: 50%;
            width: 80%;
            padding: 60px 60px 120px 60px;
            position: absolute;
            border-radius: 20px;
            border: 1px solid #C5CCD0;
            transform: translate(-50%,-50%);
            background-color: var(--color_white);
            @media (max-width: 1199px) {
                padding: 40px 30px 120px 30px;
            }
            @media (max-width: 767px) {
                width: 95%;
                height: 90vh;
                overflow: hidden;
                padding: 20px 15px;
                overflow-y: scroll;
            }
            @media (max-height: 670px) {
                height: 90vh;
                overflow: hidden;
                overflow-y: scroll;
            }
            .popup{ 
                .img_text{
                    display: flex;
                    align-items: flex-start;
                    @media (max-width: 991px) {
                        flex-wrap: wrap;
                    }
                    .img{
                        width: 25%;
                        @media (max-width: 991px) {
                            width: 100%;
                            padding-bottom: 20px;
                        }
                        
                    }
                    .text{
                        width: 75%;
                        padding-left: 40px;
                        @media (max-width: 991px) {
                            width: 100%;
                            padding-left: 0;
                        }
                        h6{
                            font-family: var(--n_e_l);
                        }
                        h4{
                            display: flex;
                            img{
                                margin-left: 20px;
                            }
                        } 
                    }
                } 
                

                
            }
            .close_btn{
                top: 25px;
                right: 25px;
                cursor: pointer;
                position: absolute;
                @media (max-width: 767px) {
                    top: 20px;
                    right: 15px;
                }
            }
        }
        :global(.slick-slider) {
            @media (max-width: 767px) {
                margin-bottom: 50px;
            }  
        }
        :global(.slick-next) {
            &::before{
                content: '';
            }
            right: 0;
            bottom: -65px;
            width: 30px;
            top: inherit;
            @media (max-width: 767px) {
                bottom: -50px;
            }
        }
        :global(.slick-prev) {
            &::before{
                content: '';
            }
            right: 50px;
            bottom: -65px;
            width: 30px;
            top: inherit;
            left: inherit;
            transform: rotate(-180deg);
            @media (max-width: 767px) {
                bottom: -50px;
            }
        }
    }
    .title{
        @media (max-width: 767px) {
            padding-bottom: 20px;
        }
    }
    .who_we_are_box{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 60px;
        align-items: center;
        @media (max-width: 991px) {
            align-items: flex-start;
        }
        @media (max-width: 767px) {
            grid-template-columns: repeat(1,1fr);
            grid-gap: 40px;
        }

        @media (min-width: 768px) and (max-width: 1199px) {
            grid-gap: 30px;
        }
    }
 
    .board_directors_box{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 36px;

        @media (min-width: 768px) and (max-width: 1199px) {
            grid-gap: 15px;
        }
        @media (max-width: 767px) {
            grid-template-columns: repeat(1,1fr);
            grid-gap: 40px;
        }
    }

    .projects_section{
        .board_directors_box{
            .board_directors_info{
                .board_img{
                    border-radius: 20px;
                    transition: all .4s;
                    background-color: #E9EEE6;
                    &:hover{
                        background-color: #3F3075;
                    }
                }
                .box_inside{
                    img{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}