@import "../helpers/helpers.scss";

.main_footer {
  background-color: var(--color_secondary);
  .footer_box{
    display: flex;
    padding: 30px 50px;
    align-items: center;
    background-color: #1A1A1A;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 767px) {
      justify-content: center;
      padding: 20px;
  }
    .left_box{
      @media (max-width: 767px) {
        padding-bottom: 15px;
    }
      p{
        font-family: var(--n_e_l);
      }
    }
  }
}
