/* Nunito Sans */
@font-face {
  font-family: "NunitoSans_10pt-Regular";
  src: url("../../../public/fonts/NunitoSans_10pt-Regular.ttf");
  font-style: normal;
}
@font-face {
  font-family: "NunitoSans_10pt-Medium";
  src: url("../../../public/fonts/NunitoSans_10pt-Medium.ttf");
  font-style: normal;
}
@font-face {
  font-family: "NunitoSans_10pt-SemiBoldc";
  src: url("../../../public/fonts/NunitoSans_10pt-SemiBold.ttf");
  font-style: normal;
}

// Onest

@font-face {
  font-family: "Onest-ExtraLight";
  src: url("../../../public/fonts/Onest-ExtraLight.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Onest-Light";
  src: url("../../../public/fonts/Onest-Light.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Onest-Regular";
  src: url("../../../public/fonts/Onest-Regular.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Onest-Medium";
  src: url("../../../public/fonts/Onest-Medium.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Onest-SemiBold";
  src: url("../../../public/fonts/Onest-SemiBold.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Onest-Bold";
  src: url("../../../public/fonts/Onest-Bold.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Onest-ExtraBold";
  src: url("../../../public/fonts/Onest-ExtraBold.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Onest-Black";
  src: url("../../../public/fonts/Onest-Black.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Onest-Thin";
  src: url("../../../public/fonts/Onest-Thin.ttf");
  font-style: normal;
}