// .text_xxs {}
.text_xs {
  font-size: 16px;
  line-height: 32px;
}
.text_sm {
  font-size: 18px;
  line-height: 28px;
}

//for default body copy font
.text_reg {
  font-size: 20px;
  line-height: 28px;
}

.text_md {
  font-size: 24px;
  line-height: 32px;
}
.text_lg {
  font-size: 32px;
  line-height: 40px;
}
.text_xl {
  font-size: 38px;
  line-height: 42px;
}
.text_xxl {
  font-size: 42px;
  line-height: 50px;
}
.text_xxxl {
  font-size: 55px;
  line-height: 60px;
}
// .text_xxxxl {}

// line height
.l_h_1{
	line-height: 1;
}
.l_h_1{
	line-height: 1.1;
}
.l_h_2{
	line-height: 1.2;
}
.l_h_3{
	line-height: 1.3;
}
.l_h_4{
	line-height: 1.4;
}
.l_h_5{
	line-height: 1.5;
}
.l_h_6{
	line-height: 1.6;
}
// line height end

//weight style
.f_w_l {
	font-weight: 300;
}
.f_w_r {
	font-weight: 400;
}
.f_w_m {
	font-weight: 500;
}
.f_w_s_b {
	font-weight: 600;
}
.f_w_b {
	font-weight: 700;
}
.f_w_i {
	font-style: italic;
}
//weight end

// //each loop for creating font weights ->
// //.text_100, .text_200 .....
$sizes: 400, 500, 600, 700, 800, 900; //reg,med,semibold,bold,extrabold,black

@each $size in $sizes {
  .text_#{$size} {
    font-weight: $size;
  }
}
