$browser-prefixes: false !default;
// $placeholder-color-default: #ff6666;

:root {
  //fonts
  --n_r: "NunitoSans_10pt-Regular";
  --n_m: "NunitoSans_10pt-Medium";
  --n_s_b: "NunitoSans_10pt-SemiBoldc";

  --o_e_l: "Onest-ExtraLight";
  --o_l: "Onest-Light";
  --o_r: "Onest-Regular";
  --o_m: "Onest-Medium";
  --o_s_b: "Onest-SemiBold";
  --o_b: "Onest-Bold";
  --o_e_b: "Onest-ExtraBold";
  --o_bl: "Onest-Black";
  --o_t: "Onest-Thin";

  //colors
  --color_primary: #A8CA9A;
  --color_secondary: #3F3075;
  --color_tertiary: #E9EEE7;
  --color_white: #fff;
  --color_text: #313133;

  //extras
  --container_width: 100%;
  --transition: ease all 300ms;

  @media (min-width: 768px) and (max-width: 991px) {
    --container_width: 750px;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    --container_width: 970px;
  }

  @media (min-width: 1200px) and (max-width: 1400px) {
    --container_width: 1170px;
  }

  @media (min-width: 1401px) {
    --container_width: 1170px;
  }

  --container_left_space: calc((100% - var(--container_width)) / 2);
}
